node_modules
**/*.log
**/*.env
**/*.env.local
**/*.env.development.local
**/*.env.production.local
**/*.env.test.local
**/*.env.development
**/*.env.production
**/*.env.test
**/*.secret
**/.vscode/**
**/.idea/**
**/.turbo/**
**/.next/**
**/.pnpm-store/**
**/.pnpm/**
**/.pnpm-lock.yaml
**/.pnpm-store/**
**/.pnpm-lock.yaml
**/.nx/** 
**/.cursorignore

# CDK specific
**/cdk.out
**/.tmp
**/coverage
**/.jest-cache